<!DOCTYPE html>
<html lang="esp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex</title>
</head>
<body>

</body>

<header>
  <h1 class="tittle">Pokedex</h1>
</header>

<body>

  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/src/assets/pikachu.png" class="card-img-top" alt="Imagen de poxemon">
        <div class="card-body">
          <h5 class="card-title">Nombre del poxemon</h5>
          <p class="card-text">Descripcion del poxemon que la pillara de una api </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">No se que poner aqui ya se me ocurrira algo </small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/src/assets/pikachu.png" class="card-img-top" alt="Imagen del poxemon">
        <div class="card-body">
          <h5 class="card-title">Nombre del poxemon</h5>
          <p class="card-text">Descripcion del poxemon que la pillara de una api </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">No se que poner aqui ya se me ocurrira algo </small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/src/assets/pikachu.png" class="card-img-top" alt="Imagen del poxemon">
        <div class="card-body">
          <h5 class="card-title">Nombre del poxemon</h5>
          <p class="card-text">Descripcion del poxemon que la pillara de una api </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">No se que poner aqui ya se me ocurrira algo </small>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
