body{
  background-image: url(/src/assets/wallpaper.jpg);
}

.tittle{
 text-align: center;
}


.card{

  width: 500px;

  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex !important;
  flex-wrap: wrap;

}
